:root {
	--background: #f3f3f3
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	box-sizing: content-box;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

.main-button {
	font-weight: 700;
	font-size: 20px;
	padding: 10px 25px;
	border: 2px solid #000;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.main-button:hover {
	color: #ffffff;
	background: #000;
}
