.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	box-sizing: content-box;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}
