.page {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

#select-files {
	display: none;
}

.main-form__label {
	margin: 20px;
	width: 260px;
	height: 80px;
	transform: translateY(-100px);
}

/*SECOND PAGE*/
.page__content {
	flex-direction: column;
	display: flex;
	align-items: center;
	padding: 20px;
}

.content__new {
	margin: 10px;
	width: 220px;
	height: 60px;
}

.content__gallery {
	margin: 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 20px;
}

.gallery__item {
	width: 100%;
	height: 100%;
	border: 3px solid #000;
	cursor: grab;
	position: relative;
}

.gallery-item__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 2px solid #000;
}

.gallery-item__rotate {
	margin-right: 2px;
	position: absolute;
	top: 0;
	right: 10%;
	width: 35px;
	height: 35px;
	transform: translate(50%, -50%);
	cursor: pointer;
}

.gallery-item__delete {
	margin-left: 5px;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	transform: translate(50%, -50%);
	border-radius: 50%;
	cursor: pointer;
}

.content__convert {
	margin: 10px;
	width: 220px;
	height: 60px;
	position: fixed;
	bottom: 2vh;
	right: 2vw;
}

.content__link {
	display: none;
}

@media (max-width: 1280px) {
	.content__gallery {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}

	.gallery-item__delete, .gallery-item__rotate {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 720px) {
	.content__gallery {
		grid-template-columns: repeat(1, 1fr);
	}

	.content__new, .content__convert {
		width: 180px;
		height: 50px;
		font-size: 14px;
	}

	.main-form__label {
		width: 220px;
		height: 60px;
		font-size: inherit;
		padding: 7px 15px;
	}
}
